<div class="mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            Quelques mots à propos
            de Mélanie.
            Sed ut perspiciatis, unde
            omnis iste natus error sit
            voluptatem accusantium
            doloremque laudantium,
            totam rem aperiam
            eaque ipsa, quae ab illo
            inventore veritatis et
            quasi architecto beatae
            vitae dicta sunt,
            explicabo. Nemo enim
            ipsam voluptatem, quia
            voluptas sit, aspernatur
            aut odit aut fugit
        </div>
        <div class="col-md-4">
            <p><mat-icon class="icone" color="primary">send</mat-icon> test@gmail.com</p>
            <p><mat-icon class="icone" color="warn">phone</mat-icon> 0655225544</p>
            <p><button mat-raised-button color="primary"><mat-icon class="icone">cloud_download</mat-icon>CV</button></p>
            <p><mat-icon class="icone" color="primary">send</mat-icon> test@gmail.com</p>
        </div>
    </div>
</div>
