<div class="mb-3" style="max-width: 540px;" *ngIf="profile">
    <div class="row g-0">
        <div class="col-md-8">{{profile.about}}</div>
        <div class="col-md-4">
            <p><mat-icon class="icone" color="primary">send</mat-icon>{{profile.email}}</p>
            <p><mat-icon class="icone" color="warn">phone</mat-icon> {{profile.phone}}</p>
            <p><a href="{{profile.cv_url}}" mat-raised-button color="primary"><mat-icon class="icone">cloud_download</mat-icon>CV</a></p>
            <p><mat-icon class="icone" color="primary">send</mat-icon> test@gmail.com</p>
        </div>
    </div>
</div>
