

<mat-card class="example-card" *ngIf="articles">
    <mat-card-header>
        <mat-card-title><mat-icon>forum</mat-icon>  Pour faire connaissance</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let art of articles">
        <div class="card flex-row"><img width="150" class="card-img-left example-card-img-responsive" src="https://material.angular.io/assets/img/examples/shiba1.jpg"/>
            <div class="card-body">
                <h4 class="card-title h5 h4-sm">{{art.title}}</h4>
                <div class="card-text">
                    <b>{{art.under_title}}</b>
                    <br />
                    <small>{{art.description}}</small>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>