<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <app-personel-infos></app-personel-infos>
    </div>
    <div class="col">
      <app-about-you></app-about-you>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-solde-conge></app-solde-conge>
      <app-current-missions style="margin: 20px;"></app-current-missions>
      <app-agenda style="margin: 20px;"></app-agenda>
    </div>
    <div class="col">
      <app-history-missions></app-history-missions>
      <app-connaissance  style="margin: 20px;"></app-connaissance>
    </div>
  </div>
</div>